/************************
Tinder Template by Miami
************************/
.tbg {
    height: 720px;
    width: 400px;
    background-color: #fff;
    margin: 0 auto;
    border: 1px solid #c0c0c0;
}
.tbgwrap { padding: 10px; position: relative; }
.theader { height: 65px; border-bottom: 1px solid #c0c0c0; }
.theader i.fa-align-justify {
    color: #c0c0c0;
    font-size: 40px;
    display: inline-block;
    float: right;
    padding: 10px 20px;
    position: relative;
}
.theader i.fa-cog {
    color: #c0c0c0;
    font-size: 40px;
    display: inline-block;
    float: left;
    padding: 10px 20px;
    position: relative;
}
.tlogo { width: 150px;
    margin: 0 auto;
    padding: 20px; }
.tlogo img {     width: 150px; }
.tphoto {
    width: 350px;
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    top: 15px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border: 1px solid #c0c0c0;
    padding-bottom: 60px;
    background-color: #fff;
    box-shadow: 0px 2px 2px #c0c0c0;
}
.tphoto img {}
.tname {
    padding: 15px;
    font-size: 20px;
    font-family: 'Helvetica', sans-serif;
    float: left;
}
.tname .age { font-weight: 200; }
.tinfo { font-family: 'Helvetica', sans-serif; position: absolute; bottom: 140px;}
.tinfo div {

    width: 100%;
    color: rgb(187, 187, 187);
    font-size: 18px;
    padding: 6px;
    width: 100%;
    margin-left: 20px;
    border: 1px #000;
}
.tinfo div p{
    display:inline-block;
    color: #fff;
    border: 1px #000;
    margin: 0;
}
.tcontrols {}
.tno {
    background-color: #fff;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    position: relative;
    display: inline-block;
    top: 50px;
    left: 25px;
    border: 10px solid #f0f0f0;
}
.tno i {
    color: #ff695b;
    font-size: 80px;
    padding: 17px 28px;
}

.ti .fa-info {
    font-size: 0;
    padding: 15px 20px;
}
.tyes {
    background-color: #fff;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    position: relative;
    display: inline-block;
    top: 50px;
    left: 70px;
    border: 10px solid #f0f0f0;
}
.tyes i {
    color: #5de19c;
    font-size: 60px;
    padding: 35px 30px;
}
.credit {
    width: 400px;
    height: auto;
    position: relative;
    top: 60px;
    text-align: center;
    background-color: #f0f0f0;
    padding: 2px 0px;
}
.credit a {
    font-size: 7px;
    letter-spacing: 5px;
    color: #c0c0c0;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    font-style: italic;
}

.route-wrapper {
    position: relative;
  }
  
.route-wrapper > div {
    position: absolute;
    max-width: 100%;
}